@import './variable';
@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background: $bg;
  color: #111827;
}

.page {
  @include responsive-container;
}

h1, h2, h3 {
  font-weight: 600;
}
