@import './variable';
@import './mixins';

.post-card {
  @include card;
  margin-bottom: 1rem;

  h3 {
    margin-bottom: .4rem;
  }

  .meta {
    margin-bottom: .6rem;
    color: $muted;
    font-size: .85rem;
  }

  a {
    color: $primary;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
